* {
    background-color: #d3d3d3
}

.form {
    color: color(display-p3 0 0 0);
    display: block;
    width: 80%
}

h1 {
    color: rgb(114, 21, 165);
    text-align: center;
    text-decoration: underline;
    margin: auto;
    padding: 0.5in, 0.5in, 0.5in, 0.5in;
    border-style: groove;
    border-color: var(--main-color);
    border-width: 0.1em;
    border-radius:10pt;
    min-width: 50%;

}

body, header {
    color: hsl(228, 79%, 37%);
    text-align: left;
   
}


#attendence {
    margin-top: 10px;
    margin-bottom: 10%;
    margin-left: 0px;
    margin-right: 1em;
    padding-left: 1em;
    padding-top: 10px;
    padding-bottom: 1%;
    padding-right: 1em;
    border-style: solid;
    border-color: blue;
    border-width: 0.25em;
    border-radius: 1mm;
    text-align: left;
    display: block;
    max-width: 20%;
}


a[brainstorm] {
    &:hover{

    }
}

button:hover {

}

h3 + li {
   
}

li > p {
    color: black;
}

body  h3 {
    color: color-mix(in lch, rgb(43,43,186), rgb(178, 178, 118))
}

section ~  hr{
    border-color: var(--main-color)
}

legend.form {
    
}

h3:has(+ details) {
    text-decoration: underline;
    margin: 10px 10px 10px 10px;
    padding: 1em 1em 1em 1em;
    border-style: double;
    border-color: blue;
    border-width: 0.1cm;
    border-radius: 0.5in;
    display: inline-block;
    height: 12pt;

}

:root{
    --main-color: lightblue;
}