* {
    background-color: #d3d3d3
}

.form {
    color: color(display-p3 0 0 0)
    
}

h1 {
    color: rgb(114, 21, 165);
    text-align: center;
    text-decoration: underline;
}

body, header {
    color: hsl(228, 79%, 37%);
    text-align: left;
}


#attendence {
   
}

a[brainstorm] {
    & > li {
        
    }
}

button:hover {

}

h3 + li {

}

li > p {
    color: black;
}

body  h3 {
    color: color-mix(in lch, rgb(43,43,186), rgb(178, 178, 118))
}

section ~  hr{
    border-color: var(--main-color)
}

legend.form {
    
}

h3:has(+ details) {
    text-decoration: underline;
}

:root{
    --main-color: lightblue;
}