* {
    background-color: #d3d3d3
}

.form {
    color: color(display-p3 0 0 0);
    display: block;
    width: 50vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    &:hover {
        color: green;
    }
}

h1 {
    color: rgb(114, 21, 165);
    text-align: center;
    text-decoration: underline;
    margin: auto;
    padding: 0.5in, 0.5in, 0.5in, 0.5in;
    border-style: groove;
    border-color: var(--main-color);
    border-width: 0.1em;
    border-radius:10pt;
    min-width: 50%;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body, header {
    color: hsl(228, 79%, 37%);
    text-align: left;
   
}


#attendence {
    margin-top: 10px;
    margin-bottom: 10%;
    margin-left: 0px;
    margin-right: 1em;
    padding-left: 1em;
    padding-top: 10px;
    padding-bottom: 1%;
    padding-right: 1em;
    border-style: solid;
    border-color: blue;
    border-width: 0.25em;
    border-radius: 0.1in;
    text-align: left;
    display: block;
    max-width: 20%;
}

#agenda {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-shrink: 3;

}

#roles {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    column-gap: 20px;
    row-gap: 15px;
    justify-content:space-around;
}

a:active {
    color: green;
}
input[type="text"]{
    color: green;
}
button:hover {
    color: blue
}
.form:active {
    box-shadow: 2px 2px 5px #fc894d;
}

#agenda + hr {
   border-color: purple;
   border-width: 2pt;
}

li > p {
    color: black;
    position: sticky;

}

body  h3 {
    color: color-mix(in lch, rgb(43,43,186), rgb(178, 178, 118))
}

section ~  hr{
    border-color: var(--main-color)
}

label.form {
   color: black;
}

h3:has(+ details) {
    text-decoration: underline;
    margin: 10px 10px 10px 10px;
    padding: 1em 1em 1em 1em;
    border-style: double;
    border-color: blue;
    border-width: 0.07in;
    border-radius: 0.5in;
    display: inline-block;
    height: 4vh;
    position: static;
    text-align: center;

}

:root{
    --main-color: lightblue;
}